@model M6_C8_P1.ViewModels.TeamInputModel
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-12">
        <div id="spnner" style="display:none">
            <div class="d-flex justify-content-end my-2">
                <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show px-2 mt-4" role="alert" id="successAlert" style="display:none">
            <strong>Success!</strong> Data saved successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <div id="from-div">
            @using (Ajax.BeginForm("Create", "Teams", new { },
            new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "fields",
                LoadingElementId = "spnner",
                OnSuccess = "onSuccess"
            },
            new { enctype = "multipart/form-data", id = "frm" }))
            {
                <h5 class=" mt-3 d-flex justify-content-start"><strong>Create Team Information...</strong></h5>

                <div id="fields">
                    @Html.Partial("_CreatePartial", Model)
                </div>

                <div class="form-group row mb-1">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary mx-3" name="act" id="back" value="back">Back to Index</button>
                        <button type="submit" class="btn btn-primary mx-3" name="act" value="insert">Save to database</button>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
@section styles
{
    @*<link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
}
@section scripts
{
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @*<script src="~/Scripts/bootstrap-datepicker.js"></script>*@
    <script>

        $(() => {
            $("#Established").datepicker({
                format: "yyyy-mm-dd"
            });
            $("#Established").val('');
        });

        function onSuccess() {
            if ($("#server-task").val() == "insert") {
                $('input[type=text]').val('');
                $('select').val('');
                $("#successAlert").show();
            }
        }
        $("#back").click(function () {
                var indexURL = "@Url.Action("Index", "Teams")";
                window.location.href = indexURL;
            });
    </script>
}